*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
    background: rgba(230, 230, 230);
}

.container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.container > h2{
    margin-top: 30px;
}

.saldo{
    margin-top: 50px;
    text-align: left;
}

.saldo h1{
    color: #436EEE;
}

.valores{
    display: flex;
    padding: 20px 0;
    margin-top: 25px;
    background-color:white;
    border-radius: 2%;
}

.receitas{
    width: 50%;
    border-right: solid 1px #ccc;
}

.receitas h2{
    color: rgba(0, 238, 118, 0.4);
}

.despesas{
    width: 50%;
}

.despesas h2{
    color: rgba(238, 59, 59, 0.4);
}

.transacoes{
    text-align: left;
    margin-top: 40px;
}

.transacoes h2{
    border-bottom: solid 2px #ccc;
    padding-bottom: 5px;
}

.transacoes li{
    display: flex;
    padding: 10px 2%;
    background: white;
    margin-top: 15px;
    color: rgb(150, 150, 150);
    justify-content: space-between;
}

.transacoes .plus{
    border-right: solid 5px rgb(0, 238, 118);;
}

.transacoes .minus{
    border-right: solid 5px rgb(238, 59, 59);;
}

.add-transacao{
    margin-top: 50px;
}

.add-transacao h2{
    border-bottom: solid 2px #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.add-transacao p{
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.add-transacao input{
    width: 100%;
    padding: 10px 7px;
    margin-top: 10px;
    font-size: 15px;
}

.add-transacao input[type=submit]{
    background-color: black;
    border: none;
    border-radius: 2%;
    color: white;
    Background-color: rgba(67, 110, 238, 0.6 );
    cursor: pointer;
}